[user]                                                                                                                                                                                                                                                          
    name = Griff Barker
    email = github@griff.systems